InstanceConfig(
    instances: {
        "Swamp": InstanceType(
            size_x_range: (50.0, 100.0),
            size_y_range: (50.0, 100.0),
            number_of_enemies_range: (10.0, 50.0),
            dead_zone_squares: true,
            chest_range: (1.0, 3.0),
        ),
        "TreasureRoom": InstanceType(
            size_x_range: (50.0, 50.0),
            size_y_range: (50.0, 50.0),
            number_of_enemies_range: (0.0, 0.0),
            dead_zone_squares: false,
            chest_range: (10.0, 15.0),
        ),
    }
)